section#game 
{
  position:relative;
  height:100%;

  .display 
  {
    position:absolute;
    width:100%;
    height:50%;
    padding:15px;
    box-sizing:border-box;
    overflow: hidden;

    #window 
    {
      border-radius:72px; 
      overflow: hidden;
      position:relative;
      width:100%;
      height:100%;
      background: linear-gradient(90deg, $color-player-one 0%, $color-player-two 100%);

      #glow {
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        z-index:10;
        box-shadow:  inset 0 0 150px 20px #FFFFFF;
        mix-blend-mode: color-dodge;
        mix-blend-mode: overlay;
        pointer-events: none;
        opacity:0;
        transition: all 500ms ease-out;
      }

      #settings, #controls, #meter, #output 
      {
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        display: flex;
      }

      @import 'settings';
      @import 'controls';
      @import 'meter';

      #output 
      {
        h2 {
          position:absolute;
          left:50%;
          transform: translateX(-50%);
        }

        h2.countdown 
        {
          font-size: 8rem;
          font-weight: 700;
          font-family: $font-secondary;
          color:white;
          opacity:0.7;
          mix-blend-mode: screen;
          width:100%;
          text-align:center;
        }

        h2.error {
          top:46%;
          color:darken($color-red, 20%);
          font-size:2rem;
          font-weight: 200;
          opacity:0;
        }
      }
    
    }

  }

  &.is-playing {
    .display {
      #window #glow {
        opacity:1;
      }
    }
  }

  #players 
  {
    position:absolute;
    top:50%;
    width:100%;
    height:50%;

    @import 'player';

    .player-1 
    {
      color:$color-player-one;

      .player-detail .player-icon path.head,
      .player-status .player-status-track-fill,
      .player-status .player-status-goal,
      {
        fill:$color-player-one;
        color:$color-player-one;
        background-color:$color-player-one;
      }
      
      .player-feedback 
      {
        .fl .icon-headset path.front-left,
        .fr .icon-headset path.front-right,
        .bl .icon-headset path.back-left,
        .br .icon-headset path.back-right {
          stroke: $color-player-one;
        }
      }
    }

    .player-2 
    {
      right:0;
      color:$color-player-two;

      .player-detail .player-icon path.head,
      .player-status .player-status-track-fill,
      .player-status .player-status-goal,
      {
        fill:$color-player-two;
        color:$color-player-two;
        background-color:$color-player-two;
      }
      
      .player-feedback 
      {
        .fl .icon-headset path.front-left,
        .fr .icon-headset path.front-right,
        .bl .icon-headset path.back-left,
        .br .icon-headset path.back-right {
          stroke: $color-player-two;
        }
      }

      .player-detail
      {
        flex-direction: row-reverse;

        .player-icon 
        {
          transform: scale(-$player-icon-scale, $player-icon-scale );
        }
      }
      
    }


  }
}