section#game 
{
  position:relative;
  height:100%;

  .display 
  {
    position:absolute;
    width:100%;
    height:50%;
    padding:15px;
    box-sizing:border-box;
    overflow: hidden;

    #window 
    {
      border-radius:72px; 
      overflow: hidden;
      position:relative;
      width:100%;
      height:100%;
      background: linear-gradient(90deg, $color-player-one 0%, $color-player-two 100%);

      #glow {
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        z-index:10;
        box-shadow:  inset 0 0 150px 20px #FFFFFF;
        // mix-blend-mode: color-dodge;
        mix-blend-mode: overlay;
        pointer-events: none;
        opacity:0;
        transition: opacity 500ms ease-out;
      }

      #settings, #controls, #meter, #output 
      {
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        display: flex;
      }

      @import 'settings';
      @import 'controls';
      @import 'meter';

      #output 
      {
        h2 {
          position:absolute;
          left:50%;
          transform: translateX(-50%);
        }

        h2.message 
        {
          font-size:2rem;
          font-weight: 200;
          font-family: $font-primary;
          color:$color-white;
          opacity:0.7;
          mix-blend-mode: screen;
          top:36%;
          width:100%;
          text-align:center;
        }

        h2.error {
          top:46%;
          color:darken($color-red, 10%);
          font-size:2rem;
          font-weight:200;
        }
      }
    
    }

  }

  &.playing {
    .display {
      #window #glow {
        opacity:0.6;
      }
    }

    #players
    {
      .player {
        opacity:1;
      }
    }
  }

  &.paused {
    .display {
      #window {
        opacity:0.7;
      }
    }
    #players
    {
      .player {
        opacity:0.9;
      }
    }
  }

  #players 
  {
    position:absolute;
    top:50%;
    width:100%;
    height:50%;

    @import 'player';

    


  }
}