.player 
{
  position:absolute;
  height:100%;
  width:50%;
  padding:2rem 4rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing:border-box;
  opacity:0.9;
  transition: all 250ms $ease-out-quint;

  .player-detail 
  {
    display:flex;
    justify-content: flex-start;
    align-items: center;

    .player-icon, .player-score, .player-actions
    {
      display:inline-block;
    }

    .player-icon {
      transform: scale($player-icon-scale,$player-icon-scale);
    }

    .player-score 
    {
      margin:0 2rem;

      .player-score-value 
      {
        font-size:4rem;
        display:block;
        text-align: center;
      }

      .player-score-label 
      {
        font-size:0.4rem;
        letter-spacing: 1px;
        text-align: center;
        display:block;
        border-top:1px solid;
        padding-top:0.5rem;
        text-transform:uppercase;
      }
    }

    .player-actions 
    {
      display:none;
      margin:0 1rem;

      button {
        background:none;
        color:white;
        padding:5px 10px;
        font-size:0.8rem;
        text-transform:uppercase;
        border-radius:4px;
        line-height: 0.7rem;
        transition:all 200ms ease-out;

        &:hover {
          border-color:white !important;
          color:white !important;
          cursor: pointer;
        }
      }
    }
  }

  .player-status 
  {
  width:100%;
  box-sizing:border-box;
  padding-right:1rem;
  position: relative;

  .player-status-track {
    width: 100%;
    height: $player-status-track-height;
    border: 1px solid;
    position: relative;

    .player-status-track-fill {
      width:25%;
      height:100%;
    }

    .player-status-goal {
      position:absolute;
      width:2px;
      right:25%;
      top:0; bottom:0;
    }
  }

  .player-status-label, .player-status-label-goal {
    margin:0.5rem 0;
    font-size: 0.3rem;
    text-transform:uppercase;
  }

  .player-status-label-goal {
    position:absolute;
    top: $player-status-track-height;
    right:25%;
    transform: translateX(50%);
  }
}


.player-feedback
{
  height:50%;
  position:relative;
  
  .fl { top:0; left:0; }
  .fr { top:0; right:0; }
  .bl { bottom:0; left:0; }
  .br { bottom:0; right:0; }

  .fl,.fr,.bl,.br 
  {
    width:50%;
    height:50%;
    position:absolute;
    display:flex;

    .icon-headset {

      path {
        stroke: #666;

        &.pad {
          fill:#666;
        }
      }

      span {
        display:block;
        font-size:0.6rem;
        color:#666;
        text-transform:uppercase;
      }
    }

    .fft {
      height:75%;
      flex:1;
      border:2px solid;
      margin:0 1rem;
      border-radius:0.5rem;
      background-color:#222;
      overflow:hidden;


    }
  }

  
}

}


.player-1 
{
  color:$color-player-one;      

  .player-detail .player-icon path.head,
  .player-status .player-status-track-fill,
  .player-status .player-status-goal,
  {
    fill:$color-player-one;
    color:$color-player-one;
    background-color:$color-player-one;
  }

  .player-detail .player-icon .svg g {
    text-shadow: 0 0 10px $color-player-one;
  }
  
  .player-feedback 
  {
    .fl .icon-headset path.front-left,
    .fr .icon-headset path.front-right,
    .bl .icon-headset path.back-left,
    .br .icon-headset path.back-right {
      stroke: $color-player-one;
    }
  }
}

.player-2 
{
  right:0;
  color:$color-player-two;

  .player-detail .player-icon path.head,
  .player-status .player-status-track-fill,
  .player-status .player-status-goal,
  {
    fill:$color-player-two;
    color:$color-player-two;
    background-color:$color-player-two;
  }
  
  .player-feedback 
  {
    .fl .icon-headset path.front-left,
    .fr .icon-headset path.front-right,
    .bl .icon-headset path.back-left,
    .br .icon-headset path.back-right {
      stroke: $color-player-two;
    }
  }

  .player-detail
  {
    flex-direction: row-reverse;

    .player-icon 
    {
      transform: scale(-$player-icon-scale, $player-icon-scale );
    }
  }
  
}


