#settings 
{
  z-index: 3;
  background:$color-dark;
  transition: all 300ms ease-out;
  transform: translateY(-100%);
  display:block;
  padding:3rem;

  &.open {
    transform: translateY(0);
  }

  h2.settings-title 
  {
    color:$color-gray;
    margin-top:0;
  }

  .settings-close 
  {
    position: absolute;
    top:2.3rem;
    right:3rem;
    color:$color-gray;
    font-weight: 100;
    font-size:3rem;
    transition: all 200ms ease-out;

    &:before 
    {
      content: "\00d7";            
    }

    &:hover {
      color:white;
      cursor: pointer;
      transform: rotate(90deg);
    }
  }

  .settings 
  {
    width:100%;
    display:flex;
    //outline:3px solid red;
    //border-top:1px solid $color-gray;
    .setting 
    {
      display:block;
      height:100%;
      width:25%;
      text-align:left;
      margin:0;
      height:240px;
      overflow-y:auto;
      //outline:1px solid red;

      h3 {
        color:$color-gray;
        //border:1px solid white;
        margin:0;
      }
    
      .players 
      {
        color:white;
        display:block;
        //border:1px solid orange;
      }

      .player, .setting-input
      {
        height:72px;
        line-height: 72px;
      }
    }
  }

  .setting-connect 
  {
    color:white;

    .player button {
        display:inline-block;
        width:150px;
        background:none;
        border:3px solid $color-white;
        color:$color-white;
        padding:0.5rem;
        text-transform:uppercase;
    }

    .player-1 button { 
      color:$color-player-one;
      border-color:$color-player-one;
    }
    .player-2 button { 
      color:$color-player-two;
      border-color:$color-player-two;
    }
  }

  .setting-battery 
  {
    color:white;

    .battery-percent 
    {
      font-size:1.6rem;
      display:inline-block;
      margin:0;
    }
    
    .battery 
    {
      display:inline-block;
      height:1.8rem;
      width:3.5rem;
      position:relative;
      top:0.3rem;
      left:1rem;
      

      .battery-b {
        border:0.2rem solid white;
        position:absolute;
        left:0;top:0;bottom:0;right:0.3rem;

        .battery-f {
          position: absolute;
          left:0.3rem;
          top:0.3rem;
          bottom:0.3rem;
          right:2.6rem;
        }
      }

      .battery-t {
        width:0.4rem;
        background:white;
        height:1rem;
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
      }
    }

    .battery-body, .battery-terminal, .battery-level {
      fill: #FFFFFF;
    }

    .svg, .replaced-svg {
      transform: translateY(18%);
    }
    
    .battery-high { 
      #BatteryHigh { display:block; }
      #BatteryMed, #BatteryLow { display:none; }
    }

    .battery-med { 
      #BatteryMed { display:block; }
      #BatteryHigh, #BatteryLow { display:none; }
    }

    .battery-low { 
      #BatteryLow { display:block; }
      #BatteryMed, #BatteryHigh { display:none; }
    }

    //#BatteryHigh rect.battery-level { fill: lighten($color-green, 20%); }
    //#BatteryMed  rect.battery-level { fill: $color-yellow; }
    //#BatteryLow  rect.battery-level { fill: $color-red; }

    .player-1 { 
      .battery-body, .battery-terminal, .battery-level {
        fill:$color-player-one;
      }
      .battery-percent {
        color:$color-player-one;
      }

      .battery-b {
        border-color:$color-player-one;
      }
      .battery-t, .battery-f {
        background-color:$color-player-one;
      }
    }

    .player-2 { 
      .battery-body, .battery-terminal, .battery-level {
        fill:$color-player-two;
      }
      .battery-percent {
        color:$color-player-two;
      }
      .battery-b {
        border-color:$color-player-two;
      }
      .battery-t, .battery-f {
        background-color:$color-player-two;
      }
    }
  }

  .setting-duration 
  {
    select {
      background:none;
      color:$color-light;
      font-size:1.4rem;
      border:3px solid white;
      border-radius:0;
      width:150px;
      height:40px;
      opacity:0.7;

      &:focus {
        outline:0;
      }
    }
  }

  .setting-mode 
  {
    

    ul.mode-list 
    {
      list-style:none;
      margin:0;

      padding:0;
      padding-top:0.3rem;

      li {
        margin-top:0.7rem;

        button {
          width:50%;
          border: 3px solid $color-white;
          color:$color-white;
          background:none;
          opacity: 0.6;
          padding:0.5rem;
          text-transform:uppercase;
          transition: opacity 100ms ease-out;

          &:hover {
            cursor:pointer;
            opacity:0.9;
          }
          &:focus {
            outline:0;
          }
        }

        &.active 
        {
          button {
            opacity:1;
          }
        }
      }
    }
  }
}
