$color-black:         #000000;

$color-meter-start:      rgba(245,120,50,1);
$color-meter-end:        rgba(152,97,255,1);

$meter-scale:            1.2;

$min-viewport-width:  960px;
$min-viewport-height: 792px;


$font-primary: 'Andale Mono';