$color-black: #000000;
$color-dark:  #11131D;
$color-gray:  #9A9A9A;

$color-meter-start: rgba(245,120,50,1);
$color-meter-end: rgba(152,97,255,1);
// $color-meter-end: rgba(33,34,255,1);

$meter-scale: 1.2;

$min-viewport-width: 960px;
$min-viewport-height: 792px;


$font-primary: 'Andale Mono';