#viewport 
{
  //width:100%;
  //height:100%;
  width: $min-viewport-width;
  height: $min-viewport-height;
  position:fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) scale(1);
  box-sizing: border-box;
  // outline:1px solid white;
  overflow:hidden;
}